/* Adjust line spacing */
p {
    line-height: 1.0;  /* Adjust this value as needed */
}

/* Adjust spacing between list items */
li {
    margin-bottom: 0.5em;  /* Adjust this value as needed */
}

/* Reduce gap between sidebar items */
.wy-menu-vertical li {
    margin-bottom: 0;
}
.wy-menu-vertical li.current {
    margin-bottom: 0;
}
